@model IEnumerable<Assignment_2.Viewmodel.CoachViewmodel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> Rolemanager
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (SignInManager.IsSignedIn(User))
{
    <h1>All Members</h1>
    <h3>Members</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>

                    ID

                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Fname)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Lname)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Age)

                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Role)

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Role == "Member")
                {
                    <tr>
                        <td>
                            @item.id
                        </td>
                        <td>
                            @item.Fname
                        </td>
                        <td>
                            @item.Lname
                        </td>
                        <td>
                            @item.Age
                        </td>
                        <td>
                            @item.Role
                        </td>


                    </tr>
                }
            }

        </tbody>

    </table>
    <br />
    <h3>Coaches</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>

                    ID

                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Fname)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Lname)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Age)

                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Role)

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Role == "Coach")
                {
                    <tr>
                        <td>
                            @item.id
                        </td>
                        <td>
                            @item.Fname
                        </td>
                        <td>
                            @item.Lname
                        </td>
                        <td>
                            @item.Age
                        </td>
                        <td>
                            @item.Role
                        </td>


                    </tr>
                }
            }

        </tbody>

    </table>
    <br />

    <h3>Administrators</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>

                    ID

                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Fname)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Lname)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Age)

                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Role)

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Role == "Admin")
                {
                    <tr>
                        <td>
                            @item.id
                        </td>
                        <td>
                            @item.Fname
                        </td>
                        <td>
                            @item.Lname
                        </td>
                        <td>
                            @item.Age
                        </td>
                        <td>
                            @item.Role
                        </td>


                    </tr>
                }
            }

        </tbody>

    </table>
}

