@model IEnumerable<Assignment_2.Viewmodel.CoachViewmodel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> Rolemanager
@{
    ViewData["Title"] = "Coaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (SignInManager.IsSignedIn(User))
{
    <h1>Coaches</h1>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>

                    Email

                </th>
                <th>

                   Name

                </th>

                <th>

                    Surname

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.Age)

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Role == "Coach")
                {

            <tr>
                <td>
                    @item.id
                </td>
                <td>
                
                    <a asp-action="Details" asp-route-id="@item.id">@item.Fname</a>
                
                </td>
                <td>
                    @item.Lname
                </td>
                <td>
                    @item.Age
                </td>


            </tr>
                }
            }

        </tbody>

    </table>
}
